.display-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-top: 5vh;
  text-align: center;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.img-flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: scroll;
}

button {
  margin: 10px;
}

img {
  width: 200px;
  height: auto;
}
